# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
g_key

'AIzaSyCb-3wHWixeocE-7SZKABihbvjlZNwLqdQ'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_df = pd.read_csv('../../output_data/cities.csv')
weather_df

,City,Country,Humidity,Lat,Lng,Temperature,Cloud Cover,Winds,Date
0,Barrow,US,85,71.2906,-156.7887,-29.20,1,12.66,1612413528
1,Busselton,AU,44,-33.6500,115.3333,71.87,0,1.99,1612413528
2,Butaritari,KI,83,3.0707,172.7902,81.48,83,16.24,1612413528
3,Marawi,PH,80,7.9986,124.2928,82.99,11,8.01,1612413529
4,Bredasdorp,ZA,82,-34.5322,20.0403,62.60,73,4.74,1612413529
...,...,...,...,...,...,...,...,...,...
546,Armidale,AU,64,-30.5167,151.6500,72.00,18,7.00,1612413661
547,Ola,RU,84,59.5833,151.2833,1.54,44,15.21,1612413661
548,Jutaí,BR,97,-5.1833,-68.9000,73.94,100,3.53,1612413661
549,Hue,VN,88,16.4667,107.6000,73.40,75,7.74,1612413447
550,Virginia Beach,US,65,36.8529,-75.9780,36.27,11,1.01,1612413484

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
target_city = weather_df['City']

target_url = ('https://maps.googleapis.com/maps/api/geocode/json?'
    'address={0}&key={1}').format(target_city, g_key)
vacay_data = requests.get(target_url).json()

In [4]:
gmaps.configure(api_key=g_key)

In [12]:
locations = weather_df[["Lat", "Lng"]].astype(float)
weather_df = weather_df.dropna()
humidity = weather_df["Humidity"].astype(float)

In [14]:
heat_map = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

heat_map.add_layer(heat_layer)

heat_map

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure