# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key
g_key

'AIzaSyCb-3wHWixeocE-7SZKABihbvjlZNwLqdQ'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_df = pd.read_csv('../../output_data/cities.csv')
weather_df

,City,Country,Humidity,Lat,Lng,Temperature,Cloud Cover,Winds,Date
0,Barrow,US,85,71.2906,-156.7887,-29.20,1,12.66,1612413528
1,Busselton,AU,44,-33.6500,115.3333,71.87,0,1.99,1612413528
2,Butaritari,KI,83,3.0707,172.7902,81.48,83,16.24,1612413528
3,Marawi,PH,80,7.9986,124.2928,82.99,11,8.01,1612413529
4,Bredasdorp,ZA,82,-34.5322,20.0403,62.60,73,4.74,1612413529
...,...,...,...,...,...,...,...,...,...
546,Armidale,AU,64,-30.5167,151.6500,72.00,18,7.00,1612413661
547,Ola,RU,84,59.5833,151.2833,1.54,44,15.21,1612413661
548,Jutaí,BR,97,-5.1833,-68.9000,73.94,100,3.53,1612413661
549,Hue,VN,88,16.4667,107.6000,73.40,75,7.74,1612413447
550,Virginia Beach,US,65,36.8529,-75.9780,36.27,11,1.01,1612413484

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
target_city = weather_df['City']

target_url = ('https://maps.googleapis.com/maps/api/geocode/json?'
    'address={0}&key={1}').format(target_city, g_key)
vacay_data = requests.get(target_url).json()

In [4]:
gmaps.configure(api_key=g_key)

In [8]:
locations = weather_df[["Lat", "Lng"]].astype(float)
weather_df = weather_df.dropna()
humidity = weather_df["Humidity"].astype(float)

In [11]:
heat_map = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 3)

heat_map.add_layer(heat_layer)

heat_map

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [12]:
weather_df = (weather_df.loc[weather_df['Humidity']<40])
weather_df = (weather_df.loc[weather_df['Temperature']>60])
weather_df = weather_df.loc[weather_df['Winds']<5]
weather_df = weather_df.loc[weather_df['Cloud Cover']<50]
weather_df

,City,Country,Humidity,Lat,Lng,Temperature,Cloud Cover,Winds,Date
44,Bela,IN,39,25.9333,81.9833,71.29,0,4.65,1612413538
95,Wāris Alīganj,IN,35,25.0167,85.6333,74.28,0,2.71,1612413551
105,Kibala,TD,30,9.1104,18.3463,69.80,0,4.59,1612413554
112,Bako,ET,36,5.7833,36.5667,69.06,0,2.89,1612413555
123,New Norfolk,AU,39,-42.7826,147.0587,79.81,46,4.00,1612413558
131,Tura,IN,34,25.5198,90.2201,78.21,0,1.21,1612413561
151,Panzhihua,CN,34,26.5851,101.7128,60.01,0,1.99,1612413567
241,Tezu,IN,18,27.9167,96.1667,79.72,2,3.89,1612413589
256,Gewanē,ET,32,10.1664,40.6453,70.66,0,2.80,1612413592
413,Salalah,OM,39,17.0151,54.0924,66.20,0,2.30,1612413632
450,Lashio,MM,24,22.9333,97.7500,79.93,0,2.17,1612413640
453,Myitkyina,MM,25,25.3833,97.4000,79.95,0,2.68,1612413641
490,Banfora,BF,21,10.6333,-4.7667,70.59,1,2.89,1612413501
503,Lalibela,ET,27,12.0333,39.0333,60.42,0,2.91,1612413652
527,Paoua,CF,27,7.2427,16.4406,64.87,0,4.27,1612413657
544,Bentiu,SS,24,9.2333,29.8333,76.55,0,3.36,1612413660

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [13]:
hotel_df = weather_df
hotel_df['Hotel Name'] = ''
hotel_df

,City,Country,Humidity,Lat,Lng,Temperature,Cloud Cover,Winds,Date,Hotel Name
44,Bela,IN,39,25.9333,81.9833,71.29,0,4.65,1612413538,
95,Wāris Alīganj,IN,35,25.0167,85.6333,74.28,0,2.71,1612413551,
105,Kibala,TD,30,9.1104,18.3463,69.80,0,4.59,1612413554,
112,Bako,ET,36,5.7833,36.5667,69.06,0,2.89,1612413555,
123,New Norfolk,AU,39,-42.7826,147.0587,79.81,46,4.00,1612413558,
131,Tura,IN,34,25.5198,90.2201,78.21,0,1.21,1612413561,
151,Panzhihua,CN,34,26.5851,101.7128,60.01,0,1.99,1612413567,
241,Tezu,IN,18,27.9167,96.1667,79.72,2,3.89,1612413589,
256,Gewanē,ET,32,10.1664,40.6453,70.66,0,2.80,1612413592,
413,Salalah,OM,39,17.0151,54.0924,66.20,0,2.30,1612413632,
450,Lashio,MM,24,22.9333,97.7500,79.93,0,2.17,1612413640,
453,Myitkyina,MM,25,25.3833,97.4000,79.95,0,2.68,1612413641,
490,Banfora,BF,21,10.6333,-4.7667,70.59,1,2.89,1612413501,
503,Lalibela,ET,27,12.0333,39.0333,60.42,0,2.91,1612413652,
527,Paoua,CF,27,7.2427,16.4406,64.87,0,4.27,1612413657,
544,Bentiu,SS,24,9.2333,29.8333,76.55,0,3.36,1612413660,

In [14]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

target_search = "hotel"
target_radius = 5000
target_type = "lodging"


params = {
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key}

for index, row in hotel_df.iterrows():


    lat = row['Lat']
    lng = row['Lng']
    location = f'{lat},{lng}'
    params['location'] = location
    response = requests.get(base_url, params=params).json()
    hotel_data = response
    results = hotel_data['results']
    try:

        hotel_df.loc[index, 'Hotel Name'] =(results[0]['name'])

    except (KeyError, IndexError):
        continue
hotel_df

,City,Country,Humidity,Lat,Lng,Temperature,Cloud Cover,Winds,Date,Hotel Name
44,Bela,IN,39,25.9333,81.9833,71.29,0,4.65,1612413538,SPOT ON 45459 Safa Palace
95,Wāris Alīganj,IN,35,25.0167,85.6333,74.28,0,2.71,1612413551,
105,Kibala,TD,30,9.1104,18.3463,69.80,0,4.59,1612413554,Hôtel des Chasses
112,Bako,ET,36,5.7833,36.5667,69.06,0,2.89,1612413555,Yasmine Pension
123,New Norfolk,AU,39,-42.7826,147.0587,79.81,46,4.00,1612413558,Tynwald Willow Bend Estate
131,Tura,IN,34,25.5198,90.2201,78.21,0,1.21,1612413561,Hotel Polo Orchid
151,Panzhihua,CN,34,26.5851,101.7128,60.01,0,1.99,1612413567,Jinhai New Century Grand Hotel
241,Tezu,IN,18,27.9167,96.1667,79.72,2,3.89,1612413589,Oshin Hotel
256,Gewanē,ET,32,10.1664,40.6453,70.66,0,2.80,1612413592,
413,Salalah,OM,39,17.0151,54.0924,66.20,0,2.30,1612413632,HYATT SALALAH HOTEL
450,Lashio,MM,24,22.9333,97.7500,79.93,0,2.17,1612413640,Two Elephants Hotel
453,Myitkyina,MM,25,25.3833,97.4000,79.95,0,2.68,1612413641,Palm Spring Resort Hotel Myitkyina
490,Banfora,BF,21,10.6333,-4.7667,70.59,1,2.89,1612413501,Hotel le Comoe
503,Lalibela,ET,27,12.0333,39.0333,60.42,0,2.91,1612413652,Maribela Hotel Lalibela
527,Paoua,CF,27,7.2427,16.4406,64.87,0,4.27,1612413657,
544,Bentiu,SS,24,9.2333,29.8333,76.55,0,3.36,1612413660,Mandela hôtel

In [15]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [17]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(
    locations, info_box_content=hotel_info)


fig = gmaps.figure()
fig.add_layer(marker_layer)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))